<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supertouch.loginregister">

    <application android:theme="@style/AppTheme">
        <activity android:name="com.supertouch.ForgetPasswordActivity"></activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity"/>
    </application>

</manifest>