<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supertouch.base">

    <!--允许访问网络-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--允许访问网络状态wifi or 2G/3G/4G-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:theme="@style/AppTheme">

    </application>

</manifest>